
$color-primary-light: #706fd3;
$color-primary-dark: #474787;
$color-primary-darkest: #40407a;

$color-typography-light:#f7f7f7;
$color-typography-light-2:#d1d1d1;
$color-typography-dark: #333;
$max-width: 120rem;

$bg-iPad: 48em;
$bg-iphone-6: 25em;

:root{
    --color-typography-dark: #333;
    --color-typography-light:#f7f7f7;
    --color-typography-light-2:#d1d1d1;
    
    --color-primary-light: #706fd3;
    --color-primary-dark: #474787;
    --color-primary-darkest: #40407a;    
}