.btn{
    text-decoration: none;
    font-size: 1.6rem;
    padding: 2rem 3.5rem;
    margin-top: 4.5rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    @media only screen and (max-width: $bg-iphone-6){
        font-size: 1.4rem;
     }
    &-dark{
        background: #fff;
        border-radius: 100px;
        color: $color-typography-light;
        background: $color-primary-dark;
    }

    &-light{
        background: #fff;
        border-radius: 100px;
        color: $color-typography-dark;
        background: $color-typography-light;
    }

    &:hover{
        transform: translateY(-2px);
        transition: .2s ease-out;
    }
    &:active{
        transform: translateY(0);
        transition: .2s ease-out;
    }
}